:root {
  --light-background: #fafafa;
  --light-background-secondary: #e2e8f0;
  --light-text-body: #171717;
  --light-text-secondary: #94a3b8;
  --light-text-link-hover: #0369a1;
  --text-link: #0ea5e9;
  --dark-background: #171717;
  --dark-background-secondary: #1e293b;
  --dark-text-body: #e2e8f0;
  --dark-text-secondary: #475569;
  --dark-text-link-hover: #7dd3fc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light-background);
  color: var(--light-text-body);
  font-family: "PT Sans", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 100dvh;
}

header,
main,
footer {
  max-width: 1440px;
  margin: 0 1rem;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--light-background);
  border-bottom: 1px solid var(--light-text-secondary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  gap: 1rem;
  z-index: 1;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

main {
  margin-top: 7rem;
  flex: 1;
  z-index: 0;
  gap: 3rem;
}

footer {
  text-align: center;
  color: var(--light-text-secondary);
}

#hero {
  padding: 9rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#articles,
#contact,
#projects {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 7rem 1rem 0 1rem;
  max-width: 640px;
}

.subcontent,
#reviews {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.subcontent ul,
#reviews ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

article {
  display: flex;
  flex-direction: column;
}

article h3 {
  background-color: var(--light-background);
  padding: 1rem 0;
  position: sticky;
  top: 7rem;
}

.subcontent div,
.subcontent ol,
article div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#projects section ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.review {
  padding: 1rem;
  border: 1px solid var(--light-text-secondary);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.review div {
  color: var(--light-text-secondary);
  font-weight: 600;
  display: flex;
  flex-direction: column;
}

#contact form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

form div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input,
textarea {
  background-color: var(--light-background);
  color: var(--light-text-body);
  border: 1px solid var(--light-text-secondary);
  font-family: "PT Sans", sans-serif;
  font-size: 100%;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

input:focus,
textarea:focus {
  border: 2px solid var(--light-text-secondary);
  outline: none;
  box-shadow: none;
}

button {
  background-color: var(--text-link);
  color: var(--light-background);
  font-family: "PT Sans", sans-serif;
  font-size: medium;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  align-self: center;
  cursor: pointer;
}

button:hover {
  background-color: var(--light-text-link-hover);
}

ul li {
  list-style: none;
}

ol li {
  list-style: decimal;
  margin-left: 1.25rem;
}

a,
nav span {
  text-decoration: none;
  color: var(--text-link);
}

a:hover,
nav span:hover {
  color: var(--light-text-link-hover);
}

nav span {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.35rem;
}

nav label {
  flex-shrink: 0;
}

@media (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  main {
    margin: 7rem 2rem 0 2rem;
  }

  #projects,
  #articles,
  #contact {
    margin: 7rem 2rem 0 2rem;
  }

  header,
  footer {
    margin: 0 2rem;
  }

  header,
  main,
  footer {
    padding: 2rem 0;
  }

  nav ul {
    gap: 3rem;
  }

  .subcontent {
    gap: 2rem;
  }

  .subcontent ul {
    gap: 1rem;
  }

  #content,
  #reviews ul {
    flex-direction: row;
    gap: 2rem;
  }

  article h3 {
    top: 6.5rem;
  }
}

@media (min-width: 1024px) {
  header,
  footer {
    margin: 0 3rem;
  }

  main {
    margin: 7rem 3rem 0 3rem;
  }

  nav ul {
    gap: 4rem;
  }

  #projects,
  #articles,
  #contact {
    width: 100%;
    margin: 7rem auto 0 auto;
  }

  #hero {
    padding: 6rem 0;
  }
}

@media (min-width: 1536px) {
  header,
  main,
  footer {
    padding: 3rem 0;
  }

  header,
  footer {
    margin: 0 auto;
  }

  main {
    margin: 7rem auto 0 auto;
  }

  #hero {
    padding: 12rem 0;
  }

  #projects,
  #articles,
  #contact {
    max-width: 1024px;
  }

  .subcontent {
    gap: 3rem;
  }

  .subcontent ul {
    gap: 2rem;
  }

  #content,
  #reviews ul {
    gap: 3rem;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-background);
    color: var(--dark-text-body);
  }

  header {
    background-color: var(--dark-background);
    border-bottom: 1px solid var(--dark-text-secondary);
  }

  article h3 {
    background-color: var(--dark-background);
  }

  input,
  textarea {
    background-color: var(--dark-background);
    color: var(--dark-text-body);
    border: 1px solid var(--dark-text-secondary);
  }

  input:focus,
  textarea:focus {
    border: 2px solid var(--dark-text-secondary);
  }

  a:hover,
  nav span:hover {
    color: var(--dark-text-link-hover);
  }

  button {
    color: var(--dark-background);
  }
  button:hover {
    background-color: var(--dark-text-link-hover);
  }

  .review {
    border: 1px solid var(--dark-text-secondary);
  }

  .review div {
    color: var(--dark-text-secondary);
  }

  footer {
    color: var(--dark-text-secondary);
  }
}
